    <% if @products1.count > 0 %>
    <div class="container">
        <% if params[:q] != "" %>
        <h3 class="mt-3" style="width:20rem"><%=@products1.count%> results for “<%=params[:q]%>”</h3>
        <% else %>
        <h3 class="mt-3" style="width:20rem"><%=@products1.count%> results for search</h3>
        <% end %>

        <hr>
        <div class="row">

            <% @products1.each do |product| %>
            <div class="col-lg-3 col-md-6 col-xs-12 mt-3">
                <div class="transCard">
                    <img class=" w-100 h-80 transImg" src="img/products/<%=product.img%>">
                </div>

                <div class="product__item__text">
                    <h6><%= link_to product.title, product_path(product)%></h6>
                    <div class="rating">
                        <i class="fa fa-star" style="color:#e7ab3c"></i>
                        <i class="fa fa-star" style="color:#e7ab3c"></i>
                        <i class="fa fa-star" style="color:#e7ab3c"></i>
                        <i class="fa fa-star" style="color:#e7ab3c"></i>
                        <i class="fa fa-star" style="color:#e7ab3c"></i>
                    </div>
                    <div class="product__price"><span>$<%=product.price%></span></div>
                </div>
            </div>
            <%end%>
        </div>
    </div>
    <br><br>

    <% else %>
    <br><br>
    <div style="height:350px">
        <span class="border border-light mh-700 d-inline-block">
            <div style="padding-left: 100px;padding-right: 250px;">
                <h3 class="mt-3" style="width:220rem">Sorry, we couldn't find any results for your search</h3>
                <h4>Try adjusting your search. Here are some ideas:</h4>
                <ul>
                    <li>Make sure all words are spelled correctly</li>
                    <li>Try different search terms</li>
                    <li>Try more general search terms</li>
                </ul>
            </div>
        </span>
    </div>
    <br><br>
    <% end %>