    <% if @products1.count > 0 %>
    <div class="container">
        <% if params[:q] != "" %>
        <h3 class="mt-3" style="width:20rem"><%=@products1.count%> results for “<%=params[:q]%>”</h3>
        <% else %>
        <h3 class="mt-3" style="width:20rem"><%=@products1.count%> results for search</h3>
        <% end %>

        <hr>
        <div class="row">

            
           <% @products1.each do |product| 
        number = product.rate_reviews.count
        if number!=0
          rating=0
          product.rate_reviews.each { |r| rating+=r.rating.to_i }
          avg=(rating/number)
          avg_rate=avg.round
          
        else
          avg_rate=0          
        end  
    
    
    %>
            <div class="col-lg-3 col-md-6 col-xs-12 mt-3">
                <div class="transCard">
                    <%
=begin%>
                    <img class=" w-100 h-80 transImg" src="img/products/<%=product.img%>">
                    <%
=end%>
                    <%if product.img.attached?%>
                    <%= image_tag product.img %>
                    <%else%>
                    <img class=" w-100 h-80 transImg" src="img/products/download.png">

                    <%end%>


                </div>

                <div class="product__item__text">
                    <h6><%= link_to product.title, product_path(product)%></h6>
                    <div class="rating">
                        <%if avg_rate==1%>
                   <div class="rating">
                       <div class="active-star"></div>
                       <div class="clip-star"></div>
                       <div class="clip-star"></div>
                       <div class="clip-star"></div>
                       <div class="clip-star"></div>
                   </div>
                   <%elsif avg_rate==2%>
                   <div class="rating">
                       <div class="active-star"></div>
                       <div class="active-star"></div>
                       <div class="clip-star"></div>
                       <div class="clip-star"></div>
                       <div class="clip-star"></div>
                   </div>
                   <%elsif avg_rate==3%>
                   <div class="rating ">
                       <div class="active-star"></div>
                       <div class="active-star"></div>
                       <div class="active-star"></div>
                       <div class="clip-star"></div>
                       <div class="clip-star"></div>
                   </div>
                   <%elsif avg_rate==4%>
                   <div class="rating ">
                       <div class="active-star"></div>
                       <div class="active-star"></div>
                       <div class="active-star"></div>
                       <div class="active-star"></div>
                       <div class="clip-star"></div>
                   </div>
                   <%elsif avg_rate==5%>
                   <div class="rating ">
                       <div class="active-star"></div>
                       <div class="active-star"></div>
                       <div class="active-star"></div>
                       <div class="active-star"></div>
                       <div class="active-star"></div>
                   </div>
                   <%else%>
                   <div class="rating">
                       <div class="clip-star"></div>
                       <div class="clip-star"></div>
                       <div class="clip-star"></div>
                       <div class="clip-star"></div>
                       <div class="clip-star"></div>
                   </div>
                   <%end%>
                    </div>
                    <div class="product__price d-flex justify-content-between">
                        <span>$<%=product.price%></span>

                        <span>
                            <%@wishlist.each do |wishlistitem| %>
                            <%if product ==wishlistitem.product %>
                            <%@wish_found_flag=true%>
                            <%end%>
                            <%end%>
                            <%if @wish_found_flag==false%>
                            <div style="display:inline-block">
                                <%= form_tag :controller=>'wishing_list_items', :action => 'addToWishingListForm' do %>
                                <input type="hidden" name="id" value=<%=product.id%>>
                                <input type="hidden" name="path" value=<%=request.env['ORIGINAL_FULLPATH']%>>
                                <%= button_tag(type: "submit", class: "btn btn-default") do %>
                                <i class="bi bi-heart" style="color:#e7ab3c;cursor:pointer"></i>
                                <% end %>
                                <%end%>
                            </div>
                            <%elsif @wish_found_flag==true%>
                            <div style="display:inline-block">
                                <%= form_tag :controller=>'wishing_list_items', :action => 'destroyForm' do %>
                                <input type="hidden" name="id" value=<%=product.id%>>
                                <input type="hidden" name="path" value=<%=request.env['ORIGINAL_FULLPATH']%>>
                                <%= button_tag(type: "submit", class: "btn btn-default") do %>
                                <i class="fa fa-heart fa-lg" style="color:#e7ab3c;cursor:pointer;font-size: 1.25rem"></i>
                                <% end %>
                                <%end%>
                            </div>

                            <%end%>
                            <%@wish_found_flag=false%>
                            <%if product.quantity > 0%>
                            <div style="display:inline-block">
                                <%= form_tag :controller=>'shopping_card_items', :action => 'addToCartForm' do %>
                                <input type="hidden" name="id" value=<%=product.id%>>
                                <input type="hidden" name="path" value=<%=request.env['ORIGINAL_FULLPATH']%>>
                                <%= button_tag(type: "submit", class: "btn btn-default") do %>
                                <i class="bi bi-cart-plus-fill" style="color:#e7ab3c;cursor:pointer;font-size: 1.25rem;"></i>
                                <% end %>

                                <%end%>
                            </div>
                            <%end%>
                        </span>
                    </div>
                    <%
=begin%>
                    <%@wishlist.each do |wishlistitem| %>
                    <%if product ==wishlistitem.product %>
                    <div class="alert alert-warning d-flex justify-content-center mb-0" role="alert">added to wishing list</div>
                    <%end%>
                    <%end%>
                    <%
=end%>
                    <%if product.quantity == 0%>
                    <div class="alert alert-danger d-flex justify-content-center mt-0" role="alert">out of stock</div>
                    <%end%>


                </div>
            </div>
            <%end%>
        </div>
    </div>
    <br><br>

    <% else %>
    <br><br>
    <div style="height:350px">
        <span class="border border-light mh-700 d-inline-block">
            <div style="padding-left: 100px;padding-right: 250px;">
                <h3 class="mt-3" style="width:220rem">Sorry, we couldn't find any results for your search</h3>
                <h4>Try adjusting your search. Here are some ideas:</h4>
                <ul>
                    <li>Make sure all words are spelled correctly</li>
                    <li>Try different search terms</li>
                    <li>Try more general search terms</li>
                </ul>
            </div>
        </span>
    </div>
    <br><br>
    <% end %>